<main>

  <div class="container">
    <div class="row">
        <div class="col col-sm-5 col-lg-5">
            <div class="index-p">
                <h1 class="page-header">welcome to my personal portfolio site</h1>
                <p>
                  My name is Emanuel Silva, Currently I am working as a London Bus Driver and have been doing so for 
                  the last 6 years, I have decided to take a deep dive into a new and exciting industry.
                  </p>

                  <p>
                  Software development industry has a refreshing and exciting attitude and the vast sharing of knowledge, 
                  and encouragement of everyone's development, is a truly pleasing experience.
                  </p>

                  <button type="button" class="btn btn-primary"><%= link_to "view my work", projects_path %></button>
            </div>
        </div>
    </div>
</div> 

  <%# <% <div class="container-fluid">
    <div class="col-12">
      <p class="index-p-1">
        Hi, My name is Emanuel Silva, welcome to my personal portfolio site and 
				I am excited by this opportunity to present myself to you.
        <br>
        <br>
        Currently I am working as a London Bus Driver and have been doing so for the last 5 years, 
				I have decided to take a deep dive into a new and exciting industry. Over the years I have 
				developed a variety of skills in my previous occupations that have allowed me to learn quickly 
				and efficiently, with a keen ambition to continue to developing.
        <br>
        <br>
        Before initially discovering the world of coding a few years ago, I had a lot of customer service 
				related jobs which I worked my way up to extremely proficient levels in, the software development 
				industry has a refreshing and exciting attitude and the vast sharing of knowledge, and encouragement
				of everyone's development, is a truly pleasing experience. It was at this point where I had decided 
				to have at courses that I could possibly do and Ive always had an interest in coding so for me that 
				was the logical direction to go in.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="index-p-2">
        So I enrolled in a 5 day Coding Challenge from Code Institute, wasn't sure what to expect, 
				it was only five days of my life so I thought it was worth a try. I enjoyed every moment of it in 
				a creative sense and what I was capable of producing and the final product. It was then that I had 
				decided that it was time for a career change, so I enrolled on Code Institutes's Full-Stack 
				Developer course, where every day is a chance to learn something new.
        <br>
        <br>
        I have taken part in several Hackathon events organised by Code Institute in the duration of my 
				studies and I will continue to do so as an alumnus. These events have allowed me to work as part 
				of a small team collaborating on a project with a common theme in a short time frame. The experience
				gained during these events has pushed me to learn more about version control system, Git, and has 
				further affirmed the need for clear documentation. I have been a member of two teams that have 
				achieved first-place and third-place finished during these competitive events, I hope to take 
				part in more Hackathons in the future to share the experience with others.
      </p>
    </div>
    <div class="col-12">
      <p class="index-p-3">
        Now having finished Code Institute's Full Stack Web Developer course, I have a few projects that 
				I will be looking to do as to be able to keep my coding skills well practiced while learning new 
				skills along the way. I will be looking to also increase my coding knowledge base by taking further 
				courses in the future and always be learning and challenging and exposing myself to new languages 
				and skills.
        <br>
        <br>
        Thank you for taking the time to reading my personal statement, if you are interesting in looking 
				into my tech stack or any projects which have been created by myself or as part of a team then 
				please feel free to have a look at my projects page.
      </p>
    </div>
  </div> %>
</main>