<main>
  <div class="container">
    <div class="row">
      <div class="col col-sm-5 col-lg-5">
        <div class="index-p">
          <h1 class="page-header">welcome to my personal portfolio site</h1>
          <p>
            My name is Emanuel Silva, Currently I am working as a London Bus Driver and have been 
            doing so for the last 6 years, I have decided to take a deep dive into a new and exciting 
            industry.
          </p>
          <p>
            The software development industry has a refreshing, exciting attitude and the vast sharing 
            of knowledge, and encouragement of everyone's development, is a truly pleasing experience.
          </p>
          <button type="button" class="btn btn-primary"><%= link_to "view my work", projects_path %></button>
        </div>
      </div>
    </div>
  </div>
</main>