<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Emanuel Silva</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">tech stack</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">work and education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">contact me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
	<p>I'm Emanuel, currently a Metroline Bus Driver in London.

	Having completed a Full Stack Software Developer course from Code Institute on 14th February 2022 and was awarded a pass, 
	I am now on the search for my first job in the tech industry as a Junior Developer.

	I have always been interested in learning code and love learning new skills. Prior to commencing the Full Stack Software Developer 
	course in January 2021, I had done some coding a few years back, which consisted of just some basic HTML and CSS. In 2021, 
	I enrolled in the 5 day coding challenge with Code Institute and loved every single moment of it, it was then that I decided 
	it was time for a career change.</p>
</main>

<footer class="footer">
        <div class="container-fluid">
            <div class="row align-items-center footer-row footer-background">
                <div class="col-4">
                    <p class="copyright">&copy; 2021 Legend Of Greek Gods</p>
                </div>
                <div class="col-4">
                    <ul class="social-media">
                        <li>
                            <a href="https://github.com/manni8436" target="_blank" rel="noopener" aria-label="facebook"><i class="fa-brands fa-square-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/emanuel-da-silva/" target="_blank" rel="noopener" aria-label="linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="col-12">
                        <p>This project was created for educational purposes only</p>
                    </div>
                </div>
            </div>
        </div>
</footer>