main {
	background-image: image-url('coding-image.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
}

// home page header and paragraph

.page-header {
	font-size: 1.2rem;
	text-decoration: underline;
	text-transform: uppercase;
}

.index-p {
	background-color: var(--white);
	border: var(--black) 3px solid; // change colour after to light-blue for dark mode
	text-decoration: none;
	color: var(--black);
	margin: 25px;
	padding: 10px;
	font-size: 1rem;
	text-align: center;
	opacity: 0.8;
}
.index-p p {
	margin-top: 10px;
}

.btn {
	background-color: var(--black); // change colour after to light-blue for dark mode
	text-decoration: none;
}

.btn a {
	color: var(--white);
	text-decoration: none;
}

// hover

.btn:hover {
	color: var(--light-blue);
}

// dark mode

@media (prefers-color-scheme: dark) {
	.index-p {
		background-color: var(--black);
		border: var(--light-blue) 3px solid;
		text-decoration: none;
		color: var(--white);
		margin: 25px;
		padding: 10px;
		font-size: 1rem;
		text-align: center;
		opacity: 0.8;
	}

	.btn {
		background-color: var(--light-blue);
	}
	
	.btn a {
		color: var(--black);
		text-decoration: none;
	}
	
	// hover
	
	.btn:hover {
		color: var(--light-blue);
	}
}